{% assign gencount = site.pages| where: "lang", include.lang | where_exp:"item", "item.tags contains include.t" | size %}{% if gencount > 0 %}
<div class="collectiondiv">
<div>{% if include.t %}
<h2>{{site.data.i18n[include.lang]["collection"]}} {{site.data.i18n[include.lang]["opq"]}}{{site.data.collections[include.t][include.lang]}}{{site.data.i18n[include.lang]["clq"]}}</h2>
<p>
{% for auth_id in site.data.order[include.t] %}
{% assign list = site.pages| where: "lang", include.lang | where: "author", auth_id | where_exp:"item", "item.tags contains include.t" %}{% assign listsize = list | size %}{% if listsize > 0 %}<strong>{{ site.data["authornames"][include.lang][auth_id]}}</strong>: {% for elem in list %}<a href="{{elem.url}}" title="{{elem.title}}">{{elem.title}}</a>{% if forloop.last == false %}, {% endif%}{% endfor %}{% endif %}
{% endfor %}</p>
{% endif %}
</div>
</div>{% endif %}