<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
{% include header.html %}

    <div id="main" role="main" class="container">
      {% include nav.html %}
      <h1>{{page.title}}</h1>
      <h2>Вершы па-беларуску</h2>
      {% for auth_id in site.data.order["Мелодыя натхнення"] %}
      <p><strong>{{ site.data["authornames"]["be"][auth_id]}}</strong>: {% assign list = site.pages| where: "lang", "be" | where: "author", auth_id  %}{% for elem in list %}<a href="{{elem.url}}" title="{{elem.title}}">{{elem.title}}</a>{% if forloop.last == false %}, {% endif%}{% endfor %}</p>
      {% endfor %}

      <h2>Poems in English</h2>
      {% for auth_id in site.data.order["Мелодыя натхнення"] %}
      <p><strong>{{ site.data["authornames"]["en"][auth_id]}}</strong>: {% assign list = site.pages| where: "lang", "en" | where: "author", auth_id %}{% for elem in list %}<a href="{{elem.url}}" title="{{elem.title}}">{{elem.title}}</a>{% if forloop.last == false %}, {% endif%}{% endfor %}</p>
      {% endfor %}
      
      
      {{page.content}}
      {% include nav.html %}
    </div>

    {% include footer.html %}
  </body>
</html>