---
layout: general
---

{{page.content | markdownify }}
{% assign ids = site.pages | where_exp: "item", "item.id" | map: "id" %}
{% for id in ids %}{% assign idpages = site.pages | where: "layout", "poem" | where: "id", id  %}{% assign idpagesn = idpages | size %}{% if idpagesn > 2 %}<span style="color:red">Паўтараецца id:</span> {{id}}: {{idpagesn}}, {{idpages | map: "url" | join: " + "}} <br>{% endif %}{% endfor %}


{% for t in page.collections %}
{% include collection_indexpage.html t = t lang = page.lang %}
{% endfor %}

<p></p><span class="navbuttons">{% include nav.html %}</span>