<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
{% include header.html %}

    <div id="main" role="main" class="container">
      <span><span class="navbuttons" style="float:right">{% include nav.html %}</span><h1>{{page.title}}</h1></span>
      <em>{{site.data.authornames[page.lang][page.author]}}</em>
      <div style="float: right;display: block;"><a href="https://vedy.be/{{site.data.vedy-be-links[page.author]}}">{{site.data.authornames[page.lang][page.author]}}</a> на<br>Ведах беларускіх</div>
      <div style="float: right;display: block;"><img src="https://vedy.be/Vedy-be.svg" height="28rem"></div>
      {% if page.translator %}<br><em>{{page.translator}}</em>{% endif %}
      {{page.content | markdownify}}
      <span class="navbuttons">{% include nav.html %}</span>
    </div>

    {% include footer.html %}
  </body>
</html>