[
  {% for p in site.pages %}
    {

      "title"    : "{{ p.title | escape }}",
      "author"    : "{{ site.data.authornames[p.lang][p.author] | escape }}",
      "translator"    : "{{ p.translator | escape }}",
      "url"      : "{{ site.baseurl }}{{ p.url }}",
      "content"  : "{{ p.content | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '"', ' ' }}",
      "contentshort"  : "{{ p.content | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '"', ' ' | truncate: 200}}"

    } {% if forloop.last == false %},{% endif %}
  {% endfor %}
]